button,
  div,
  form,
  input {
    margin: 4px;
  }

  .stills {
    display: inline-block;
   }  

  #more-buttons-form {
    float: right;
    text-align: right; 
  }

  /* .favs {
    display: inline-block;
   }   */
 